.video-load {
	background-color: #ffffff;
	height: 315px;
	width: 100%;
	z-index: 999;
	position: fixed; }
.loader {
	background-size: 150px 150px;
  background-repeat: no-repeat;
  background-image: url('/assets/loader.gif');
  width: 150px;
  height: 150px;
  display: table;
  margin: 0 auto;
  margin-top: 300px; }
.dropdown-menu {
	font-size: 12px;
	width: calc(100% - 30px); }
.dropdown-menu .active {
	color: #000000;
	background-color: rgba(0,0,0,0) }
.modal {
  background-color: rgba(0,0,0,0.6); }
.modal-header {
  display: none; }
.modal-footer {
  border: 0;
  background-color: #000000; }
.modal-content {
		border: 0;
    background-color: #000000; }

/* youtube component styling */
#youtube {
  background-color: #f5f5f5;
  margin-top: 40px;
	padding: 35px !important; }

#youtube .card {
	display: -webkit-inline-box;
	width: 100%;
	margin-bottom: 25px;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.1);
  border: 0; }
#youtube .card:hover {
	box-shadow: 0 4px 17px 0 rgba(0,0,0,0.5);
    border: 0; }
#youtube .card-block {
	display: inline-flex;
	padding: 0; }
#youtube .card-header {
	display: none;
	height: 40px;
  background-size: 70px 40px;
  background-position: 10px 0px;
  background-repeat: no-repeat; }
#youtube .card-header a {
  display: none; }
#youtube .img-container {
	width: 120px; }
#youtube img {
	width: 120px;
	height: 90px; }
#youtube .video-title {
	padding: 8px;
    font-size: 14px; }
#youtube b {
	font-size: 14px;
 	color: #2381C9;}
#youtube .video-desc {
	font-size: 12px;
	padding: 5px 10px 5px 10px; }
.modal-body {
	padding: 0px;
}
